home=C:\data\technology\python\Python313
include-system-site-packages=false
version=3.13.14
executable=C:\data\technology\python\python313\python.exe
command=C:\data\technology\python\Python313\python.exe -m venv C:\data\technology\workspaces\langchain\langchain-academy\lc-academy-env
LANGSMITH_API_KEY=
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT=langchain-academy
TAVILY_API_KEY=
OPENAI_ADMIN_KEY=
GROQ_API_KEY=
OPENAI_API_KEY=
